<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team_uganda.ieltsassistor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IeltsCalculator" />
        <activity android:name=".ExamCentre" />
        <activity android:name=".MockTest" />
        <activity android:name=".BookStorage" />
        <activity android:name=".BookOne" />
        <activity android:name=".BookTwo" />
        <activity android:name=".SignInOrUp" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />

        <activity android:name=".PopupTips"
            android:theme="@style/AppTheme.CustomTheme"
            android:label="IELTS Tips">
        </activity>

    </application>

</manifest>